.input {
  width: 91.5%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #d0d7de;
  outline: none;
  transition: .15s;
}

.input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37,99,235,.15);
}
